<label for="project_supplies_attributes_index_title">Supply</label>
<input  type="text" name="project[supplies_attributes][index][title]" id="project_supplies_attributes_index_title">
<label for="project_supplies_attributes_index_price">Price</label> $<input class="short_field" type="text" name="project[supplies_attributes][index][price]" id="project_supplies_attributes_index_price">.00